.main-header .logo {
        font-family: "Georgia", Times, "Times New Roman", serif;
        font-weight: bold;
        font-size: 24px;
      }

h2{

	font: bold;
	font-style: italic;
	text-shadow: 3px 2px red;

}

body{

	font-family: "Courier New", Monospace;

}

#sidebar {
            background-color: rgba(197, 14, 31, 0.5);
        }

